:root {
    --app-bg-1: #DAE8FC;
    --app-bg-2: #EBFAFD;
}

body {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

body, div {
    display: flex;
    flex-direction: column;
}

header > div {
    flex-direction: row;
    align-items: flex-end;
    margin: 10px;
}

header > div:first-of-type > h1 {
    margin-left: 20px;
    margin-bottom: 0;
}

header > nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

header > nav > div:first-of-type {
    flex-direction: row;
}

header > nav > div:first-of-type > a {
    padding: 5px;
    font-size: 18px;
}

.post-overview {
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background-color: var(--app-bg-1); 
    margin-top: 10px;
    margin-bottom: 10px;
}

.post-overview a {
    text-decoration: none;
    color: black;
}

.post-overview p {
    margin: 0;
}

.post-overview > div:first-of-type > p:first-of-type {
    margin-bottom: 15px;
}

.post-overview > div:first-of-type {
    margin-right: 20px;
}

.post-overview .content {
    margin-bottom: 20px;
}

.post-overview .post-overview-footer {
    flex-direction: row;
    justify-content: space-between;
}

#pagination {
    flex-direction: row;
    justify-content: center;
    aling-items: center;
    background-color: var(--app-bg-2);
    border: 1px solid var(--app-bg-1);
    margin-left: 20vw;
    margin-right: 20vw;
    
}

#pagination > .separator {
    line-height: 25px;
}

#pagination a {
    margin: 5px;
}

#login-container {
    padding: 20px;
    background-color: var(--app-bg-1);
}

#login-container .row {
    flex-direction: row;
}

#login-container input {
    background-color: var(--app-bg-2);
    padding: 5px;
    width: 400px;
}

#login-container button {
    padding: 5px 50px;
    background-color: var(--app-bg-2);
    border-radius: 5px;
}

#post-detail {
    margin-top: 10px;
    padding: 10px;
    background-color: var(--app-bg-1);
}

#post-detail img {
    height: 200px;
}

#post-detail p:last-of-type {
    margin-bottom: 0;
}

.comment > div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 5px;
}

.comment > div > div:first-of-type {
    width: 400px;
    margin-right: 20px;
}

#new-comment {
    padding: 20px;
    background-color: var(--app-bg-1);
}

#new-comment input,textarea {
    background-color: var(--app-bg-2);
    padding: 5px;
    width: 400px;
}

#new-comment tr td {
    vertical-align: top;
}

#new-comment textarea {
    height: 150px;
}

#new-comment button {
    padding: 5px 50px;
    background-color: var(--app-bg-2);
    border-radius: 5px;
}